.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.h1 {
    color: #4053ff;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 3rem;
}

.h3 {
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.125rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    cursor: pointer;
}

.button {
    background-color: #4053ff;
    border-radius: 0.625rem;
    border: none;
    color: white;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin: 1.2rem 0;
    padding: 20px 0;
    cursor: pointer;
    white-space: nowrap;
}
