@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'pretendard', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 1024px;
    min-width: 1440px;
    overflow-y: auto;
    overflow-x: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;