/* KakaoShareButton.module.css */
.kakaoShareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11.812px;
    background: #fff;
    width: 76px;
    height: 76px;
    flex-shrink: 0;
    cursor: pointer;
}

.kakaoShareImg {
    max-width: 100%;
    max-height: 100%;
}
