/* container 스타일 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    overflow-y: auto;
    min-height: 90%;
    height: 100vh;
}

.feedbackPage {
    padding: 2% 6%;
    width: 60%;
    border-radius: 50px;
    background: #fff;
    flex-shrink: 0;
    margin: 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
}
/* 페이지 인디케이터 스타일 */
.pageIndicator {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    background-color: #e1e1e1;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back {
    margin-top: 3%;
    margin-left: -80%;
}

.backBtn {
    all: unset;
    background: #f6f6f6;
    cursor: pointer;
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
}

.backBtn:hover {
    background: #fff;
    color: inherit;
}

/* instruction 스타일 */
.instruction {
    color: #4053ff;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 2%;
    margin-top: 1%;
}

/* instructionbox 스타일 */
.instructionbox {
    display: flex;
    width: 70%;
    margin-top: 2%;
}

/* span 스타일 */
.span {
    color: #9b8f8f;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2%;
    margin-left: 1%;
}

/* keywordsContainer 스타일 */
.keywordsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 3% 10% 5%;
    width: 100%;
    max-width: 1200px;
    height: 20vh;
}

/* keywordButton 스타일 */
.keywordButton {
    padding: 0 10px 0 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    height: 50px;
    flex-shrink: 0;
    border-radius: 53.409px;
    background: #ccd1ff;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.keywordButton.selected {
    background: #4053ff;
    color: white;
}

/* completeButton 스타일 */
.completeButton:hover {
    background-color: #2c3b9d;
}

/* nextbox 스타일 */
.nextbox {
    text-align: right;
    align-self: flex-end;
    line-height: 70px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 2%;
    cursor: pointer;
}

/* button 스타일 */
.nextBtn {
    width: 148px;
    height: 49.109px;
    flex-shrink: 0;
    border-radius: 15.337px;
    background: #4053ff;
    border: none;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .h1 {
        font-size: 36px;
        top: 20px;
        left: 20px;
    }

    .h2 {
        font-size: 24px;
        top: 20px;
        right: 20px;
    }

    .instructionbox {
        margin-left: 0;
        width: 80%;
    }

    .instruction {
        font-size: 32px;
    }

    .keywordButton {
        font-size: 20px;
    }

    .nextbox {
        bottom: -40px;
        right: 10px;
    }

    .nextBtn {
        font-size: 20px;
        left: 100px;
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 150px;
    }

    .h1 {
        font-size: 30px;
        top: 15px;
        left: 15px;
    }

    .h2 {
        font-size: 20px;
        top: 15px;
        right: 15px;
    }

    .instructionbox {
        width: 100%;
    }

    .instruction {
        font-size: 28px;
    }

    .keywordButton {
        font-size: 16px;
    }

    .nextbox {
        bottom: -30px;
        right: 10px;
    }

    .nextBtn {
        font-size: 18px;
        left: 80px;
    }
}

@media (max-width: 480px) {
    .container {
        margin-top: 100px;
    }

    .h1 {
        font-size: 24px;
        top: 10px;
        left: 10px;
    }

    .h2 {
        font-size: 18px;
        top: 10px;
        right: 10px;
    }

    .instruction {
        font-size: 24px;
    }

    .keywordButton {
        font-size: 14px;
    }

    .nextbox {
        bottom: -20px;
        right: 10px;
    }

    .nextBtn {
        font-size: 16px;
        left: 50px;
    }
}
