/* Modal.module.css */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: #4053ff;
    color: white;
    padding: 30px 60px;
    border-radius: 8px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
